* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.game-board {
    width: 550px;
    height: 100%;
    border: 1px solid #333;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.future {
    position: relative;
}

#botaoTreinar {
    position: absolute;
    top: 80px; /* Ajuste a posição vertical conforme necessário */
    left: 600px; /* Ajuste a posição horizontal conforme necessário */
    z-index: 2;
}
#botaoCalcularEmocao {
    position: absolute;
    top: 130px; /* Ajuste a posição vertical conforme necessário */
    left: 600px; /* Ajuste a posição horizontal conforme necessário */
    z-index: 2;
}

.IArley {
    position: absolute;
    
}
#game-board img.IArley {
    width: 600px; /* Defina a largura desejada, por exemplo, 100 pixels */
    height: auto; /* Mantenha a proporção original da altura */
}
#divSobrancelha img.Sobrancelha {
    width: 600px; /* Defina a largura desejada, por exemplo, 100 pixels */
    height: auto; /* Mantenha a proporção original da altura */
}
#divBoca img.Boca {
    width: 650px; /* Defina a largura desejada, por exemplo, 100 pixels */
    height: auto; /* Mantenha a proporção original da altura */
}
.boneco {
    height: 550px;
    
}
.Olhos {
   
    width: 600px; 
    height: 600px; 
    margin-right:0px;

}
.Sobrancelha {
    margin-bottom: 0px;
    margin-left: 0px;
}
#divOlhos {
    position: absolute;
}
#divBoca {
    position: absolute;
}
#divBoca {
    position: absolute;
}
.Boca {
    margin-top:-30px;
    margin-left: -5px;
}

.flex-box {
    display: flex;
}
.RedeETabela {
    display: flex;
    flex-direction: column;

}

.container-box {
}

.content-box {
    display: flex;
    justify-content: space-between;
    width:100%
}

.imagem {
    position: relative;
    width: 800px;
    height: 900px;
    background: url('../../Content/Game2/Rede/Rede Neural.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.camada2Rede {
    left: 107px;
    top: 280px;
    position: absolute;
    color: black;
    text-align: center;
}
.camada3Rede {
    left: 107px;
    top: 494px;
    position: absolute;
    color: black;
    text-align: center;
}
.camada3Pesos {
    left: 107px;
    top: 394px;
    position: absolute;
    color: black;
    text-align: center;
}
.camada1Rede {
    left: 107px;
    top: 80px;
    position: absolute;
    color: black;
    text-align: center;
}
.camada2Pesos {
    left: 107px !important;
    top: 150px !important;
    position: absolute !important;
    color: black !important;
    text-align: center !important;
}
.peso1Azul {
    left: 300px;
    top: 135px;
    position: absolute;
    color: black;
    text-align: center;
}
.peso2Azul {
    left: 250px;
    top: 245px;
    position: absolute;
    color: black;
    text-align: center;
}
