@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body {
            background-image: url('/Content/Backgrounds/bckdgrnd Home.jpeg') !important;
            background-repeat: no-repeat; /* Não repetir a imagem */
            background-size:cover;
        }
    </style>
</head>
<div class="text-center">
</div>
