@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div>
    <div>
        <input type="text" class="form-control" id="features" placeholder="" style="margin-left: 0px;margin-bottom:570px;margin-top:0px !important;font-family:'Child Dream';display:inline-block;height:27px;width:80px;z-index:3;">
    </div>


</div>
