@{
    ViewData["Title"] = "Privacy Policy";

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0," />

    <link rel="stylesheet" href="~/css/Game1/Game1.css" />

    <title>Game 1</title>
</head>

<body>

    <script src="~/js/Game1/Game1.js"></script>

    <div class="game-board" id="game-board">
        <img src="~/Content/IArley.png" class="IArley" alt="Alternate Text" />
        <div id="divOlhos">
            <img src="~/Content/olho neutro.png" class="Olhos" id="Olhos" alt="Alternate Text" />
        </div>

        <div>
            <button onclick="sayHello()" style="position: absolute; top: 238px; left: 700px;">Click me</button>
        </div>

        <div id="divBoca">
            <img src="~/Content/boca neutra.png" class="Boca" id="Boca" alt="Alternate Text" />
        </div>
    </div>

</body>